@import "common.css";

main {
    flex-direction: row;
}

#left-pane .button-row:not(.ticket-seller) {
    display: none;
}

.button-row {
    margin: 15px 10px;
    height: 125px;
}

.ticket-type button,
.ticket-zone.single-trip button,
.ticket-zone.one-day button {
    font-size: 20px;
}

.ticket-zone button p:last-child {
    font-size: 20px;
    margin: 10px 15px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.total-price {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.total-price p:first-child {
    flex-grow: 1;
    text-align: left;
}

.total-price p:last-child {
    font-size: 48px;
}

#confirmation {
    padding: 30px 5px 0;
    text-align: center;
}

#confirm {
    width: 250px;
    height: 90px;
    margin-top: 15px;
}

.pop-up #zone-buttons.button-row {
    display: flex;
    flex-flow: column;
    height: initial;
    align-items: center;
}

.pop-up #zone-buttons button {
    text-align: left;
    width: 800px;
    height: 120px;
    font-size: 28px;
    padding: 0 15px;
    margin: 10px 0;
}

.pop-up .scroll button.button-up {
    display: none;
}

.pop-up .button-row {
    height: initial;
}

.pop-up .popup-cancel {
    margin: 0;
}

.list {
    display: flex;
}

.list .scroll {
    margin: 25px 0 25px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list .scroll button {
    min-width: 60px;
    min-height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.list .scroll button i {
    font-size: 20px;
}

.list .scroll .rail {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    background: var(--dim-color);
    margin: 5px 0;
    border-radius: 10px;
    position: relative;
    visibility: hidden;
}

.list .scroll .rail .handle {
    width: 100%;
    height: 60%;
    position: absolute;
    top: 0;
    background: var(--button-bg);
    border-radius: inherit;
}