@import "common.css";

#screen {
    background-image: var(--bg-image);
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

#start-upper-row {
    margin: 15px 20px 0;
    background: var(--dim-color);
    padding: 15px;
    border-radius: 5px;
}

#start-lower-row {    
    margin: 15px 20px 0;
    background: var(--dim-color);
    padding: 15px;
    border-radius: 5px;
}

#start-upper-row button {
    height: 200px;
}

#start-lower-row button {
    margin: 0 70px;
    height: 275px;
}

.pop-up .button-row button {
    text-align: center;
    width: 180px;
    height: 60px;
    margin-top: 30px;
}

.number-of-tickets .total-price {
    text-align: center;
}

.total-price {
    display: flex;
    align-items: center;
    margin: 30px 250px 0;
}

.total-price p:first-child {
    flex-grow: 1;
    text-align: left;
}

.total-price p:last-child {
    font-size: 48px;
}

#insert-card p {
    text-align: center;
    margin: 45px 0 15px;
}

#insert-card .latency {
    display: none;
}