@import "common.css";

#screen {
    background-image: var(--bg-image);
}

#start-upper-row {
    margin: 60px 20px 0;
}

#start-lower-row {    
    margin: 50px 50px 0;
}

#start-upper-row button {
    height: 200px;
}

#start-lower-row button {
    margin: 0 70px;
    height: 300px;
}
