@import "common.css";

main {
    position: relative;
}

#summary {
    margin: 10px 15px 0;
    text-align: center;
    border-collapse: collapse;
}

#summary th,
#summary td {
    font-size: 24px;
    vertical-align: middle;
    padding: 7px 10px;
    background: var(--dim-color);
    height: 55px;
}

#summary th:nth-child(2),
#summary td:nth-child(2),
#summary.seasonal th:nth-child(1),
#summary.seasonal td:nth-child(1) {
    text-align: left;
}

#summary.seasonal th:nth-child(2),
#summary.seasonal td:nth-child(2) {
    text-align: center;
}

#summary th,
#summary .total-price th,
#summary .total-price td {
    background: var(--nav-bg);
}

#summary tr:nth-child(even):not(.total-price) td {
    background: var(--dim-color-light);
}

#summary button {
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#summary button i {
    font-size: 20px;
}

#summary .total-price th,
#summary .total-price td {
    padding: 14px 10px;
}

#summary .total-price th {
    font-size: 28px;
    text-align: left;
}

#summary .total-price td:nth-child(2) {
    min-width: 200px;
}
#summary .total-price td {
    font-size: 40px;
    text-align: center;
}

.buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.button-row {
    margin: 15px 90px;
}

.button-row button {
    height: 100px;
}

.button-prev,
.button-next {
    display: none;
}